.GuessingGame {
  background-color: black;
  height: 100vh;
}

.letterToGuessInput {
  font-size: 4em;
  text-align: center;
  border: none;
  border-bottom: solid 3px gray;
  color: gray;
  width: 20rem;
}

.letterToGuessInput:focus-visible {
  border-bottom-color: black;
  color: black;
  outline: none;
}

.UIElement {
  z-index: 1;
  position: relative;
}

.FullScreenVideo {
  height: 100vh;
  width: 100vw;
}
